<div class="flex-column" id="<%= type %>_<%= id %>_item">
    <div class="content-column-invoice-preview-column" id="preview-result">
        <% if (type === "model") { %>
        <model-viewer 
        style="margin: auto; height: 400px; width: 400px;"
        id="uploaded-3d-model"
        alt="uploaded 3d model"
        src="<%= modelSrc %>"
        shadow-intensity="1"
        camera-controls touch-action="pan-y"></model-viewer>
        <% } else { %>
        <img name="preview-thumbnail" style="border-radius: 7px" height=100 src="<%= imgSrc %>" />
        <% } %>
    </div>
    <div class="content-column-invoice-preview-column">                        
        <div class="content-column-invoice-preview-column-subtitle" id="glow-option-value">
            Size, <%= glowType %>
        </div>
        <% if (has_led_candle) { %>
        <div class="content-column-invoice-preview-column-candle-type" id="led-candle-value">
            LED Candle
        </div>
        <% } %>
        <div class="cart-remove-button" id="<%= type %>_<%= id %>">(Remove)</div>
    </div>
</div>
<script>
    var elemId = "<%= type %>_<%= id %>";
    document.getElementById(elemId).addEventListener('click', async (event) => {
        var type = event.target.id.split('_')[0];
        var id = event.target.id.split('_')[1];
        var res = await fetch('/api/cart/remove-item',
            {
                headers: {'content-type': 'application/json'},
                body: JSON.stringify({
                    type: type,
                    id: id
                }),
                method: "POST"
            }
        );
        if (res.ok) {
            document.getElementById("<%= type %>_<%= id %>_item").style.display = 'none'
            const cartAmountTextElem = document.getElementById('cart-amount-text');
            var amount = parseInt(cartAmountTextElem.innerHTML);
            var amount = amount - 1;
            cartAmountTextElem.innerHTML = amount.toString();
        }
    });
</script>