<title><%= title %></title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link
  rel="stylesheet"
  type="text/css"
  href="<%= config.FILE_SERVER %>/stylesheets/base.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="<%= config.FILE_SERVER %>/stylesheets/<%= siteTheme %>.css"
/>
<link
  rel="icon"
  type="image/png"
  href="<%= config.FILE_SERVER %>/symbols/favicon.png"
/>
<script
  type="application/javascript"
  src="<%= config.FILE_SERVER %>/scripts/localStorage.js"
></script>
