<% if (htmlCartItems.length === 0) { %>
<div class="flex-column padding-20 content-column-container">
    <div class="empty-cart-text">Your cart is empty! <a href='/design'>Click here</a> to start designing!</div>
</div>
<% } else { %>
<div class="flex-column padding-20 content-column-container">
    <table>
        <%- htmlCartItems %>
        <tr>
            <td>Subtotal</td>
            <td>$<%= subtotal %></td>
        </tr>
        <tr>
            <td>Shipping</td>
            <td>$<%= shipping %></td>
        </tr>
        <% if (tax) { %>
        <tr>
            <td>Tax</td>
            <td>$<%= tax %></td>
        </tr>
        <% } %>
        <tr>
            <td>Total</td>
            <td>$<%= subtotal + shipping %></td>
        </tr>
    </table>
</div>
<% } %>